<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Informacion de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <ion-button id="open-modal" expand="block" color="secondary">
    Editar Información de Usuario
  </ion-button>
  <p>{{ message }}</p>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Editar Datos</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Guardar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">

   <ion-input
       label="Nombre"
        labelPlacement="floating" 
        placeholder="Ingresa tu nombre"
        [(ngModel)]="nombre"
        clearInput>
      </ion-input>

        <ion-input
        label="Correo"
        labelPlacement="floating"
        placeholder="Ingresa tu Correo"
        [(ngModel)]="correo"
        clearInput>
      </ion-input>
  

     <ion-input
  label="Contraseña"
  label-placement="floating"
  placeholder="Ingresa tu Contraseña"
  type="password"
  [(ngModel)]="password"
  clearInput>
  <ion-input-password-toggle slot="end"></ion-input-password-toggle>
</ion-input>


  <ion-button expand="full" color="success" routerLink="/home">
    Guardar Cambios y Volver a Home
  </ion-button>
  
</ion-content>


     

