<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <ion-card style="background-color:transparent;justify-content: center;padding-left: 0%;display: flex;border-radius: 0% ;">
    <ion-card-content class="card1" style="padding: 0px;background-color:transparent;width:15%; align-items: center;border-radius:0% ; ">
   <img src="assets/Osacongafas.jpg" style="border-radius: 18px;box-shadow: grey;">
    </ion-card-content>

    
  </ion-card>

  <p>Estás en la página home.</p>

  <ion-button routerLink="/usuario" expand="full" color="primary" style="display: flex;">
    Ir a usuario
  </ion-button>

</ion-content>
